
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><Main></Main></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div >
      <h1>CulinaryLand</h1>
    </div>
    <br>
    <div>
      <h3> Te damos la bienvenida {{user}}!</h3>
    </div>
    <br>
    <p style="font-size: 20px;">En esta aplicación puedes encontrar cualquier tipo de recetas para tu cocina en el día a día.</p>
    <br>
    <img src="../../assets/icon/food-wine-cheese-bread-national-culture-paris.1024x996.png" alt="" style="width: 200px; height: auto;">
  </ion-content>
</div>
